* {
  margin: 0px;
  padding: 0px;
}
html {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif !important;
}
.cart-btn{
  border: none;
  background-color: rgb(255, 95, 67);
  padding: 10px;
  border-radius: 5px;
}